@import "./variables";

.errorPage-container{
    width: 100%;
    padding: var(--nav-height) 0 0 0;
    text-align: center;
    color: $silver-950;
    height: 600px;
    @include flex-column();
    align-items: center;
    justify-content: center;
    h1{
        font-weight: 600;
    }
    p{
        margin-top: 2rem;
        font-size: 1.2rem;
        font-weight: 300;
    }
}