@import "./variables";

.signup-container{
    width: 100%;
    padding: calc(var(--nav-height) + 4rem) 0 6rem 0;
    @include flex-column();
    align-items: center;

    h1{
        padding: 1.5rem 0;
        text-align: center;
        font-weight: 500;
        font-size: 1.5rem;
        color: $silver-950;
    }
}

.signup-form{
    width: 400px;
    @include flex-column();
    row-gap: 0.9rem;
    label{
        @include flex-column();
        row-gap: 0.7rem;
        font-size: 14px;
        font-weight: 500;
        color: $silver-950;
        &:nth-child(4){
            margin-bottom: 3rem;
        }
    }
    input{
        font-size: 14px;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid $silver-200;
        transition: border 0.2s ease-in-out;

        &:focus{
            outline: none;
            border: 1px solid $silver-950;
        }
    }

    button{
        background-color: transparent;
        z-index: 0;
        padding: 1rem;
        border-radius: 0.1rem; 
        font-size: 0.8rem;
        border: 1px solid $silver-950;
        color: #fff;
        font-weight: 500;
        letter-spacing: 1px;
        width: 100%;
        position: relative;
        transition: color .4s;
    
        &::before{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform-origin: 100% 0;
           z-index: -1;
            transition: transform .4s;
            transform: scaleY(1);
            
            background-color: $silver-950;
        }
        &:hover::before{
            transform: scaleY(0);    
        }
        &:hover{
            color: #000;
            
        }
    }
}
.signup-error-msg{
    font-size: 14px;
    color: $punch-650;
    animation: horizontal-shaking 0.35s ;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }