

$silver-50: #f7f7f7;
$silver-100: #f0f0f0;
$silver-200: #e3e3e3;
$silver-300: #d1d1d1;
$silver-400: #bcbcbc;
$silver-500: #aaaaaa;
$silver-600: #969696;
$silver-700: #818181;
$silver-800: #6a6a6a;
$silver-900: #585858;
$silver-950: #1e1e1e; /*333333*/

$off-white: #f7f9f8;

$punch-50: #fef2f2;
$punch-100: #ffe2e1;
$punch-200: #ffcac8;
$punch-300: #ffa5a2;
$punch-400: #fd716c;
$punch-500: #f5443e;
$punch-600: #e42e28;
$punch-650: #e2201a;
$punch-700: #bf1b16;
$punch-800: #9e1a16;
$punch-900: #831c19;
$punch-950: #470a08;

$media-xl: 1200px;
$media-lg: 1024px;
$media-tablet: 768px;
$media-mobile: 500px;

@mixin flex-column(){
    display: flex;
    flex-direction: column;
}
@mixin flex-row-center-center(){
    display: flex;
    align-items: center;
    justify-content: center;
}

  



.display-none{
    display: none;
}
.display-flex{
    display: flex;
}

.ui-checkbox {
    --primary-color: #ffffff;
    --secondary-color: #585858;
    /* checkbox */
    --checkbox-diameter: 18px;
    --checkbox-border-radius: 4px;
    --checkbox-border-color: #585858;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    /* checkmark */
    --checkmark-size: 1.1;
  }
  
  .ui-checkbox, 
  .ui-checkbox *, 
  .ui-checkbox *::before, 
  .ui-checkbox *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .ui-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);

    cursor: pointer;
    position: relative;
  }
  
  .ui-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    border-radius: inherit;
    opacity: 0;

  }
  
  .ui-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;

  }
  
  /* actions */
  
  
  
  .ui-checkbox:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));

  }
  
  .ui-checkbox:active:not(:checked)::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
  }

